# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment files
.env


# =========================
# PyInstaller
# =========================

build/
*.spec


# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

*.swp
*.swo


# =========================
# Logs / Output
# =========================

*.log
logs/

output/
results/


# =========================
# Packet captures
# =========================

*.pcap
*.pcapng


# =========================
# OS files
# =========================

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store


# =========================
# Temporary files
# =========================

*.tmp
*.bak
*.cache
